<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>A院系选课系统</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <link href="/css/sweetalert2.min.css" type="text/css" rel="stylesheet"/>
</head>
<body>
<div class="col-md-10">
    <header><h1>所有课程</h1></header>
    <table class="table table-hover table-bordered" id="tableMain">
        <th>课程</th>
        <th>编号</th>
        <th>学分</th>
        <th>教师</th>
        <th>地点</th>
        <th>是否共享</th>
        <th>操作</th>
        <tr th:each="subject,subjectStat:${classes}" >
            <td th:text="${subject.getCnm()}"></td>
            <td th:text="${subject.getCno()}"></td>
            <td th:text="${subject.getCpt()}"></td>
            <td th:text="${subject.getTec()}"></td>
            <td th:text="${subject.getPla()}"></td>
            <td th:text="${subject.getShare()}"></td>
            <td>
                <button class="btn choose btn-primary" th:if="!${subject.isHasChoose()}" th:attr="subject_id=${subject.getCno()}">选课</button>
                <button class="btn cancel btn-danger"  th:if="${subject.isHasChoose()}" th:attr="subject_id=${subject.getCno()}">退课</button>
            </td>
        </tr>
    </table>
</div>
<script src="/js/jquery-3.3.1.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/sweetalert2.min.js"></script>
<script>$("#tableMain").delegate('.choose', 'click', function (e) {
    //获得数据源
    var ev = e || window.event;
    var target = ev.target || ev.srcElement;
    var cno = target.getAttribute("subject_id");
            $.ajax({
                type: 'GET',
                url: "http://localhost:8080/adept/choose",
                data: {cno:cno},
                success: function (data) {
                    swal({
                        title: "成功！",
                        type: "success",
                        timer: 2000,
                        showConfirmButton: false
                    });
                    setTimeout(function () {
                        window.location.reload();
                    }, 2000);
                }
            });
})
$("#tableMain").delegate('.cancel', 'click', function (e) {
    //获得数据源
    var ev = e || window.event;
    var target = ev.target || ev.srcElement;
    var cno = target.getAttribute("subject_id");
    $.ajax({
        type: 'GET',
        url: "http://localhost:8080/adept/cancel",
        data: {cno: cno},
        success: function (data) {
            swal({
                title: "成功！",
                type: "success",
                timer: 2000,
                showConfirmButton: false
            });
            setTimeout(function () {
                window.location.reload();
            }, 2000);
        }
    });

})</script>

</body>
</html>